[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "zsh-plugin/zsh-syntax-highlighting"]
	path = zsh-plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-plugin/zsh-autosuggestions"]
	path = zsh-plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "oh-my-tmux"]
	path = oh-my-tmux
	url = https://github.com/WildfootW/oh-my-tmux.git
