<!DOCTYPE HTML>
<html>
<head>
    <!--    Wildfoot 2018 https://github.com/Wildfoot   -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> Title </title>
    <meta name="description" content="YOUR DISCRIPTION">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!--<link href="bootstrap.css" rel="stylesheet" >-->
    <link href="/static/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--<script src="js/bootstrap.js"></script>-->
    <script src="/static/jquery-3.2.0.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/ajax_add_books.js"></script>
</head>
<body>
</body>
</html>
